<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>게시판</title>
  <link rel="stylesheet" href="/login.css" />
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h2>로그인</h2>
    <form action="/login" method="post">
      <label>아이디</label>
      <input type="text" name="username" required>

      <label>비밀번호</label>
      <input type="password" name="password" required>

      <button type="submit">로그인</button>
    </form>
    <div class="to"><a href="/register">아직 계정이 없나요? 회원가입</a></div>
  </div>
</body>
</html>
